@charset "utf-8";
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1 {
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("home.jpg");
  height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.new_Btn{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

#html_btn {
  padding: 20px;
  transition-duration: 0.4s;
  background-color: grey;
  opacity: 0.8;
  border-radius: 12px;
  cursor: pointer;
}

#html_btn:hover {
  background-color: orange; /* Green */
  color: white;
}

input[type=submit] {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  background-color: #1561FA;
  border-radius: 17px;
  border: none;
  color: white;
  padding: 12px 27px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.button {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  background-color: #FF6800;
  border-radius: 17px;
  border: none;
  color: white;
  padding: 12px 27px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
